@media screen and (max-width:576px) {

    .br-none {
        display: none;
    }

    .headding {
        font-size: 32px;
    }

    /* Header section */
    .header-continer {
        padding: 1rem 1.25rem;
    }

    .nav-bar ul,
    .nav-bar .nav-button {
        display: none;
    }

    .hamburger-menu {
        display: inline;
    }

    /* hearo section */
    .hero {
        background-size: cover;
        padding: 40px;
    }

    /* .hero-continer {
        max-width: 27.5rem;
    } */

    .hero-circle {
        max-width: 200px;
        max-height: 200px;
    }

    .hero-continer .microphone {
        max-width: 80px;
        max-height: 80px;
        top: 13%;
        left: 44%
    }

    .hero-continer .new {
        font-size: 16px;
        top: 2%;
        right: 19%;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content p {
        white-space: wrap;
    }


    /* podcast section */

    .podcast-continer {
        padding: 20px;
    }

    .podcast-card-continer {
        grid-template-columns: repeat(2, 180px);
        gap: 40px;
        justify-content: center;
    }

    .podcast-card h3 {
        font-size: 40px;
    }

    /* choose section*/
    .choose {
        padding: 40px 20px;
    }

    .choose-card-continer {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 16px;
        margin-top: 16px;
    }

    .choose-card {
        grid-row: span 1;
        grid-column: span 1;
    }

    .choose-card h3 {
        font-size: 22px;
    }

    /* Episodes-host */
    .Episodes-host {
        gap: 60px;
        padding: 40px 20px;
    }

    .Episodes-card-continer {
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        margin-top: 24px;
        justify-content: center;
    }

    .Episodes-card-continer iframe {
        width: 100%;
    }

    .Episodes-content h3 {
        font-size: 20px;
    }

    /* Episodes-host */
    .host-headding {
        margin-bottom: 24px;
    }

    .host-card {
        flex-direction: column;
        text-align: center;
    }

    .host-content .name {
        font-size: 24px;
    }

    .host-icons {
        align-items: center;
        justify-content: center;
    }

    /* footer section */
    footer{
        background-image: url(../assets/footer-bg2.png);
       
    }
    .footer{
        padding: 40px 20px;
        max-width: 400px;
    }
    .footer-icons {
        gap: 16px;
        grid-template-columns: repeat(2, auto);

    }
}