@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@keyframes mic-move {
            0%{
                transform: rotate(-45deg);
            }
            
            100% {
                transform: rotate(45deg);
            }
        }

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sheared style */
p{
    opacity: 0.6;
}
.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

.margin-auto {
    margin: 0 auto;
}

.max-width {
    max-width: 1600px;
}

.btn {
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 20px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 44px;
}

#b-mass {
    background: none;
    border: 1px solid #00FF88;
}

#b-mass:hover {
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    border: none;
}

.btn:hover {
    background: rgba(145, 0, 248, 1);
}

main,footer {
    background-color: #1A0B2E;
}

.headding {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}
.color-white{
    color: #FFFFFF;
}
.section-width{
    max-width: 1200px;
}
.hidden{
    display: none;
}

/* main style */
/* header section */
.header-continer {
    padding: 1rem 12.5rem;
    background-color: #1A0B2E;
}

.hamburger-menu {
    display: none;
}

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.nav-bar h3,
.footer h1 {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
}

.nav-bar span ,
.footer h1 span{
    color: rgba(251, 9, 180, 1);
}

.nav-bar ul {
    gap: 2rem;
    list-style: none;
}

.nav-bar ul a {
    text-decoration: none;
    color: #FFFFFF;
}

/* Hero Section */
.hero {
    padding: 6.30rem 0;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
}

.hero-continer {
    max-width: 32.8rem;
    margin: 0 auto;
    gap: 2.5rem;
    position: relative;
    place-items: center;
    text-align: center;
}

.hero-continer .microphone {
    position: absolute;
    top:12%;
    left: 40%;
    animation: mic-move 2s linear infinite alternate;
}

.hero-continer .new {
    background-color: #00FF88;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #1A0B2E;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    position: absolute;
    top: 3%;
    right: 19%;
}

.hero-content-button {
    gap: 24px;
}

.hero-content {
    gap: 8px;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 800;
}

.hero-content p {
    white-space: nowrap;
}

.hero-button {
    place-items: center;
    justify-content: center;
    gap: 8px;
}

/* podcast Section */
.podcast-continer {
    max-width: 1200px;
    padding-bottom: 200px;
}

.podcast-continer hr {
    opacity: 0.1;
}

.podcast-content {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 40px;
}

.podcast-continer p {
    line-height: 20px;
}

.podcast-card-continer {
    margin-top: 40px;
    text-align: center;
    grid-template-columns: repeat(4, 240px);
    gap: 80px;
}

.podcast-card h3 {
    color: #00FF88;
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 16px;
}

.podcast-card p {
    line-height: 20px;
}

/* choose Scetion */
.choose {
    background-color: #230E3D;
    padding: 120px 200px;
}

.choose-card-continer {
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
}
.choose-card {
    padding: 40px;
    box-shadow: 0px 3px 27px 0px rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    background-color: #351165;
    display: flex;
    align-items: center;
}

.Audio{
    grid-row: span 2;
}
.device{
    grid-column: span 2;
}
.location{
    grid-column: span 2;
}
.interviews{
    grid-column: span 2;
}
.choose-card img{
    margin-bottom: 16px;
}
.choose-card h3{
    font-size: 24px;
    font-weight: 700px;
    margin-bottom: 16px;
}
.choose-card p {
    line-height: 24px;
}
/* Episodes-host */
.Episodes-host{
    gap: 120px;
    max-width: 1200px;
    padding: 120px 0;
}
.Episodes-card-continer{
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin-top: 40px;
}
.Episodes-card {
    background-color: #351165;
    border-radius: 24px;
}
.Episodes-card iframe{
    border-radius: 24px;
}
.Episodes-content{
    padding: 24px;
}
.Episodes-content h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
}
.Episodes-content .content{
    line-height: 24px;
    padding-bottom: 12px;
}
.Episodes-content .time{
    display: flex;
    gap: 6px;
    align-items: center;
    color: #00FF88;
    opacity: 1.0;
}
.host-headding{
    margin-bottom: 40px;
}
.host-card{
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
    gap: 24px;
    align-items: center;
}
.host-content{
    gap: 16px;
}
.host-content .name{
    font-size: 32px;
    font-weight: 700;
}
.host-content p{
    line-height: 24px;
}
.host-content .host-icons{
    gap: 8px;
    align-items: center;
}
.host-content .host-icons a{
    border: 1px solid #533C72 ;
    padding: 10px;
    border-radius: 50%;
}
/* footer section  */
footer{
    background-image: url(../assets/footer-bg.png);
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.footer{
    max-width: 1360px;
    padding: 120px 0;
    gap: 32px;
}
.footer-icons{
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.icon{
    display: flex;
    gap: 8px;
}
.copywrite p{
    text-align: center;
    line-height: 24px;
}
